global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    monitor: 'flowershop-monitor'

rule_files:
  - 'alerts.yml'

scrape_configs:

  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
        labels:
          service: 'prometheus'

  - job_name: 'flowershop-backend'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['backend:8080']
        labels:
          service: 'flowershop-backend'
          application: 'flowershop'

